*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;

}

.main{
    min-height: 100vh;
    width: 100%;
    padding-left: 14%;
    padding-right: 25%;
    background-color:white;
}

.header{
    background-color: #3399ff;
}

.divider{
    border-bottom: 1px black solid;
    width: 100%;
    content: " ";
    margin-top: 5px;
}

.top-header{
    width: 100%;
    position: relative;
    height: 33px;
    margin: 0;
    padding-top: 5px;
    padding-left: 14%;
    background-color: #3399ff;
}

.top-header,.header > p{
    color: white;
    font-weight: bold;
   
}

.header{
    padding: 10px;
    margin: 20px 0px;
}


.main-title-wrap > .main-title > p{
    margin-top: 40px;
    color: black;
    font-size: 30pt;
    font-weight: 300;
    
}

.main >.breadcrumb {
    padding-top: 20px;
    list-style: none;
    margin-bottom: 30px;
    font-weight: 300;
   
  }

.breadcrumb >li >a {
    text-decoration: none;
    color: gray;
}

.breadcrumb >li > a.highlight{
    color: #3399ff;
}


.breadcrumb > li{
    display: inline;
}

.sub-title > p{
    font-size: 27pt;
    text-transform: capitalize;
    font-weight: 100;
}

.summary{
    margin-top: 20px;
    margin-bottom: 20px;
}
 .summary-title,.resolution-title {
    font-size: 16pt;
    font-weight: 300;
}
.content{
   margin-bottom: 20px;
    font-weight: 300;
    max-width: 60%;
    font-size: 11pt;
    line-height: 20px;
}

.content > a:visited {
    color: #0000EE;
}

.download-now{
    padding: 15px;
    margin-top: 15px;
    background-color:#f2f2f2;
    width: 100%; 
    position: relative;
    margin-bottom: 20px;
  
}


.download-now > .download-btn-wrap{
    width: 100%;
}
.download-now >.download-btn-wrap>.download-btn {
    border: none;
    outline: none;
    width: 300px;
    background-color: #33cc33;
    color: white;
    height: 60px;
    font-size: 25pt;
    border-radius: 2px;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.742);
    margin-bottom: 20px;
}

.download-now  > .attributes {
    width: 15%;
    float: left;
    margin: 0;
}



  .attribute ,.spec{
    margin-bottom: 10px;
    font-size: 11pt;
}

.mini-title{
    color: black;
    margin-top:10px;
    margin-bottom: 0;
    font-weight: 300px;   
}

    

