*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;

}

.main{
    min-height: 100vh;
    width: 100%;
    padding-left: 14%;
    padding-right: 27%;
    background-color:white;
}

.divider{
    border-bottom: 1px black solid;
    width: 100%;
    content: " ";
    margin-top: 5px;
}

.header{
    width: 100%;
    position: relative;
    height: 33px;
    margin: 0;
    padding-top: 5px;
    padding-left: 14%;
    background-color: #3399ff;
}

.header > p{
    color: white;
    font-weight: bold;
}


.main-title-wrap > .main-title > p{
    margin-top: 40px;
    color: black;
    font-size: 30pt;
    font-weight: 300;
    
}

.main >.breadcrumb {
    padding-top: 20px;
    list-style: none;
    margin-bottom: 30px;
    font-weight: 300;
   
  }

.breadcrumb >li >a {
    text-decoration: none;
    color: gray;
}

.breadcrumb >li > a.highlight{
    color: #3399ff;
}


.breadcrumb > li{
    display: inline;
}

.sub-title > p{
    font-size: 27pt;
    text-transform: capitalize;
    font-weight: 100;
}

.summary{
    margin-top: 20px;
    margin-bottom: 20px;
}
 .summary-title,.resolution-title {
    font-size: 16pt;
    font-weight: 300;
}
.content{
    margin-top: 25px;
    font-weight: 300;
    max-width: 60%;
    font-size: 11pt;
    line-height: 20px;
}