*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;

}

.green-btn{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0px 20px;
    background-color: #33cc33;
    color: white;
    min-height: 30px;
    font-size: 14pt;
}

.fixed{
    position: fixed;
    top: 0;
    right: 20%;
}



.main{
    min-height: 100vh;
    width: 100%;
    padding-left: 14%;
    padding-right: 20%;
    background-color:white;
}

.main > .main-content{
    width: 70%;
    float: left;
    display: inline;
}

.side-panel{
    margin-top: 30px;
    width: 25%;
    max-width: 250px;
    min-height: 600px;
    z-index: 2;
    background-color: #e5e5e5;
    float: right;
    padding: 30px;
    font-size: 14pt;
}

.side-panel > .side-panel-title{
    margin-bottom: 20px;
}

.side-panel > .desc{
    font-size: 10pt;
    margin-bottom: 10px;
}
.side-panel > .desc >.stars{
    color: green;
    font-size: 11pt;
}

.side-panel >.side-panel-img{
   width: 100%;
}
.side-panel> .operating-systems-title ,.minimum-req-title{
    margin:10px 0px;
    font-size: 11pt;
}

.side-panel > .operating-systems,.minimum-req{
    font-size: 9pt;
  
}

.side-panel > .windows-versions{
    margin-top: 10px;
    width: 100%;
}
 .windows-versions > .windows-img{
    max-width: 30px;
    margin-right: 5px;
    
    
}

.header{
    font-size: 16pt;
    background-color: #3399ff;
    color: white;
}
.header> span{
    font-weight: 300;
}

.divider{
    border-bottom: 1px black solid;
    width: 100%;
    content: " ";
    margin-top: 5px;
}

.top-header{
    width: 100%;
    position: relative;
    height: 33px;
    margin: 0;
    padding-top: 5px;
    padding-left: 14%;
    background-color: #3399ff;
}

.top-header,.header > p{
    color: white;  
}

.bold{
    font-weight: 600;
}

.header{
    padding: 10px;
    margin: 20px 0px;
}


.main-title-wrap > .main-title > p{
    margin-top: 40px;
    color: black;
    font-size: 30pt;
    font-weight: 300;
    
}

.main >.breadcrumb {
    padding-top: 20px;
    list-style: none;
    margin-bottom: 30px;
    font-weight: 300;
   
  }

.breadcrumb >li >a {
    text-decoration: none;
    color: gray;
}

.breadcrumb >li > a.highlight{
    color: #3399ff;
}


.breadcrumb > li{
    display: inline;
}

.sub-title > p{
    font-size: 27pt;
    text-transform: capitalize;
    font-weight: 100;
}

.summary{
    margin-top: 20px;
    margin-bottom: 20px;
}
 .summary-title,.resolution-title {
    font-size: 16pt;
    font-weight: 300;
}
.content{
   margin-bottom: 20px;
    font-weight: 300;
    max-width: 100%;
    font-size: 11pt;
    line-height: 20px;
}

a:visited {
    color: #0000EE;
}

.download-now{
    padding: 15px;
    margin-top: 15px;
    background-color:#f2f2f2;
    width: 100%; 
    position: relative;
    margin-bottom: 20px;
  
}


.download-now > .download-btn-wrap{
    width: 100%;
    min-height: 100px;
}
.download-now >.download-btn-wrap>.download-btn {
 
   min-height: 60px;
    font-size: 25pt;
    border-radius: 2px;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.742);
    margin-bottom: 20px;
}

.download-now  > .attributes {
    width: 20%;
    float: left;
    margin: 0;
}

  .attribute ,.spec{
    margin-bottom: 10px;
    font-size: 11pt;
    margin-left: auto;
}

.mini-title{
    color: black;
    margin-top:10px;
    margin-bottom: 0;
    font-weight: 300px;   
}

.how-to-fix > .ways{
    list-style: none;
    margin-bottom: 30px;
    font-weight: 300;
}
    
#form{
    width: 100%;
   margin-bottom: 150px;
    min-height: 200px;
    padding-right: 10%;
    
}

#form >.input-wrap{
    width: 100%;
    height: 30px;
}

#form > .input-wrap > .invalid-email{
    font-size: 10pt;
    margin-left: 20%;
    display: none;
    color: red;
}

#form> .input-wrap>label {
    float: left;
    margin-right: 20px;
}
#form  >.input-wrap> label> .must{
    color: red;
}
#form >.input-wrap >textarea,input{
    width: 80%;
    padding: 5px;
    margin-left: auto;
    float: right;
    outline: none;
    border: .3px rgba(128, 128, 128, 0.509) solid;
}

#form >.input-wrap >textarea{
    resize: none;
}
#form >.input-wrap >#message{
    height: 200px;
}
#form> .submit-btn-wrap> .submit-btn{
    width: 100px;
    margin-left: auto;
    float: right;
}

#form> .submit-btn-wrap{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 50px;
    float: right;
}
#success-msg{
    padding-top: 5px;
    margin-right: 20px;
    float: right;
   
    color: #33cc33;
    display: none;
}
.empty-input{
    border: 1px red solid !important;
}


 .mandatory-msg{
    color: red;
    font-size: 9pt;
 }